*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    background-color: #D8DAD3;
}


#left_bar {
    background-color: #566246;
    width: 25%;
    height: 100vh;
    min-height: 100vh;
}

#logo{
    background-color: #A4C2A5;
    display: flex;
    align-items: center;
}

#logo img{
    width: 30%;
    height: 30%;
}

#logo h1{
    color: #ffffff;
}

.nav{
    display: flex;
    flex-direction: column
}
.nav a{
    color: #ffffff;
    text-decoration: none;
}

.campo textarea{
    resize: none;
}